POSTGRES__CONNECTION_STRING=
REDIS__CONNECTION_STRING=
ENABLE_DOCS=true
DISCORD__CLIENT_ID=
DISCORD__CLIENT_SECRET=
DISCORD__REDIRECT_URI=
DISCORD__BOT_PERMISSIONS=
DISCORD__BOT_SCOPES=bot applications.commands
DISCORD__LOGIN_SCOPES=identify guilds
JWT__ISSUER=Api
JWT__AUDIENCE=Web
JWT__SECRET=your-super-long-random-secret-at-least-32-characters
WEB__BASE_URL=https://localhost:7001
APP__ENC_KEY=
APP__APP_IV=
GUILDSYNC__ENABLED=true
GUILDSYNC__INTERVALMINUTES=15